<!DOCTYPE html>
<html lang="{{- app.request.locale -}}">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{%- block title -%}{%- endblock -%}</title>

		<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
		{%- block stylesheets -%}
		{%- endblock -%}
    </head>
    <body>

		{%- spaceless -%}

		<div id="page-wrap">
			<div id="page-main">
			<img src="{{asset('concours-douane.jpg')}}" style="width: 100%; height: 150px; margin-bottom: 34px; ">
				{%- block navbar -%}
					

					
				{%- endblock navbar -%}

				<div class="container clearfix">
					<br>
					<div class="row">
				        <aside class="col-md-2 page-sidebar-left">
							{%- block sidebar -%}
				            {%- endblock sidebar -%}
						</aside>

				        <div class="col-md-10 page-body-right">
							<div id="top clearfix"></div>
				            {%- block body -%}
							{%- endblock body -%}
				        </div>
			        </div>
				</div>
			</div>
		</div>

		<br>

		
		<script src="{{asset('js/jquery.js')}}"></script>
		<script src="{{asset('js/bootstrap.min.js')}}"></script>
		{%- block javascripts -%}
		{%- endblock -%}

		<script type='text/javascript'>
		<!--
			$(document).ready(function() {
				// make visible js compat toolbars site wide
				$("[data-js-non-compat]").each(function(i, el) {
					$(el).addClass('collapse').addClass('hidden');
				});

				$("[data-js-compat]").each(function(i, el) {
					$(el).removeClass('collapse').removeClass('hidden');
				});

				$('[data-tip]').each(function() {
					$(this).tooltip({
						html: true,
						placement: $(this).data('tip')
					});
				});

				$('[data-toggle="dropdown"]').dropdown();
			});
		//-->
		</script>

		{%- endspaceless -%}
    </body>
</html>
